body { 
  font-family: 'WackPixelFont';
  margin-left: 4em;
  color: #575a44; /* text color */
}

html {
  background-color: #ECE2D0; /* background color */
  font-size: 24pt;
  font-family: 'WackPixelFont', sans-serif;
}

@font-face {
  font-family: WackPixelFont;
  src: url(../CharlesKleeven.github.io/messingaroundfon.ttf);
 
}

.title {
  font-size: 56px;
  font-weight: bold;
  color: #3e4352;
}

h1 {
  font-size: 48px;
  color: rgb(145, 90, 86);
}

h2 {
  font-size: 36px;
}

p {
  font-size: 24px;
}
