body { 
  font-family: 'WackPixelFont';
  margin-left: 4em;
  color: #504d3f; /* text color */
}

html {
  background-color: #ECE2D0; /* background color */
  font-size: 36px;
}

@font-face {
  font-family: WackPixelFont;
  src: url(../CharlesKleeven.github.io/messingaroundfon.ttf);
}

.title {
  font-size: 64px;
  font-weight: bold;
   color: #5e313c; 
}

ul {
  list-style: circle;
  margin: 0;
  padding: 0;
  font-size: 28px;
}

h1 {
  font-size: 58px;
  color: #3e4352;
}

h2 {
  font-size: 48px;
}

p {
  font-size: 34px;
}
