body { 
  font-family: 'WackPixelFont';
  margin-left: 4em;
  color: #504d3f; /* text color */
}

html {
  background-color: #ECE2D0; /* background color */
  font-size: 36px;
}

@font-face {
  font-family: WackPixelFont;
  src: url(../CharlesKleeven.github.io/messingaroundfon.ttf);
}

.title {
  font-size: 64px;
  font-weight: bold;
   color: #5e313c; 
}

.name {
  font-size: 48px;
  font-weight: bold;
  color: #3b5454;
}

ul {
  list-style: circle;
  margin: 0;
  padding: 0;
  font-size: 28px;
}

h1 {
  font-size: 58px;
  color: #3e4352;
}

h2 {
  font-size: 48px;
}

p {
  font-size: 34px;
}

/* unvisited link */
a:link {
  color: #523e49;
  text-decoration: underline;

}

/* visited link */
a:visited {
  color:#523e49;
  text-decoration: underline;
}

/* mouse over link */
a:hover {
  color:#cf5d63;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #cf5d63;
  text-decoration: underline;
}

a.main:link {
  color: #3e4352;
  text-decoration: none;
}

/* visited link */
a.main:visited {
  color:#3e4352;
  text-decoration: none;
}

/* mouse over link */
a.main:hover {
  color:#5e89cf;
  text-decoration: none;
}

/* selected link */
a.main:active {
  color:#5e89cf;
  text-decoration: none;
}

a.people:link {
  color: #504d3f;
  text-decoration: none;
}

/* visited link */
a.people:visited {
  color:#504d3f;
  text-decoration: none;
}

/* mouse over link */
a.people:hover {
  color:#babd61;
  text-decoration: none;
}

/* selected link */
a.people:active {
  color:#babd61;
  text-decoration: none;
}