body { 
    font-family: 'WackPixelFont';
    margin-left: 4em;
    color: #61422e; /* text color */
  }
  
  html {
    background-color: #ECE2D0; /* background color */
    font-size: 28px;
  }
  
  @font-face {
    font-family: WackPixelFont;
    src: url(../CharlesKleeven.github.io/messingaroundfon.ttf);
  }

  .name {
    font-size: 48px;
    font-weight: bold;
    color: #3b5454;
  }
  
  ul {
    list-style: circle;
    padding: 0;
    font-size: 28px;
    margin: 0 0 0 50px; /* top right bottom left */
  }
  
  h1 { /* titles like General Information */
    font-size: 36px;
    color: #3e4352;
  }
  
  h2 { /* like Name and DOB */
    font-size: 28px;
    font-weight: bold;
    color: #504d3f;
    display: inline;
  }
  
  p {
    font-size: 28px;
  }
  
  /* unvisited, visited link */
  a:link, a:visited {
    color: #523e49;
    text-decoration: underline;
  
  }
  
  /* mouse over link, selected */
  a:hover, a:active {
    color:#cf5d63;
    text-decoration: underline;
  }
  