/* Contact.css */
.contact-container {
    position: relative; /* Position the container relative to its contents */
    width: 100%;
    max-width: 60vw; /* Adjust the max-width as needed */
    max-height: 90vw; /* Adjust the max-width as needed */
    margin: 0 auto; /* horizontal */
    padding: 20px;
    box-shadow: 0px 0px 6px 2px rgba(33, 33, 31, 0.319); /* Add a shadow for depth */
    border-radius: 20px; /* Adjust the border-radius for rounded corners */
    background-color: #f9f9f9; /* dropdown menu color */
    color: #34250b; /* navbar text color */
    text-align: center;
}

.header-message
{
    color: #34250b; /* navbar text color */
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}
  
/* Style the form elements */
.form-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

/* Add styles to arrange First name and Last name side by side */
.name-group {
    display: flex;
    gap: 10px; /* Adjust the gap as needed */
}

.name-group .form-group {
    flex: 1; /* Allow First name and Last name to take equal width */
}


.form-group {
    display: flex;
    flex-direction: column;
    position: relative;
}

.required-label {
    font-size: small;
    opacity: 0.6;
}


label {
    font-weight: bold;
}

input[type="text"],
textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #efeeea5b; /* Add a semi-transparent background to form fields */
    border: 1px solid #432c0441; /* Outline the text boxes */
}

button[type="submit"] {
    background-color: #625a13; /* button color */
    color: #f9f9f9; /* button text */
    font-size: medium;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  